<p>
<%= I18n.t('devise.mailer.confirmation_instructions.greetings', name: @user.name) %>
</p>

<p>
<%= I18n.t('devise.mailer.confirmation_instructions.body') %>
</p>

<%= link_to I18n.t('devise.mailer.confirmation_instructions.link'), "#{@base_url}/#/activation?token=#{@user.confirmation_token}&email=#{@user.email}" %>
