<h1>
<%= I18n.t('devise.mailer.reset_password_instructions.greetings', name: @user.name) %>
</h1>

<p>
<%= I18n.t('devise.mailer.reset_password_instructions.body') %>
</p>

<%= link_to I18n.t('devise.mailer.reset_password_instructions.link'), "#{@base_url}#/recover_password?token=#{@user.reset_password_token}&email=#{@user.email}" %>

<h4>
<%= I18n.t('devise.mailer.reset_password_instructions.bottom') %>
</h4>
